@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --fonte1: 'Roboto', sans-serif;
    --fonte2: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

html, body {
    min-height: 100vh;
    background-color: darkgray;
}

header {
    background-color: black;
    color: white;
    text-align: center;
}

header h1 {
    padding-top: 50px;
    font-variant: small-caps;
    font-family: var(--fonte1);
    font-weight: bolder;
    font-size: 4em;
}

header p {
    padding-bottom: 50px;
    font-family: var(--fonte1);
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: underline;
}

section {
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 3em;
}

section.normal {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}

section.normal > pre {
    font-family: var(--fonte1);
    font-size: 1.3em;
}

section.imagem {
    background-color: rgb(68, 68, 68);
    color: white;
    box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.664);
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > pre {
    width: 400px;
    background-color: rgba(0, 0, 0, 0.281);
    padding-top: 30px;
    font-family: var(--fonte1);
    font-size: 1.3em;
}

section#img01 {
    background-image:url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02 {
    background-image: url(../imagens/background002.jpg);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    padding: 10px;
    font-family: var(--fonte2);
}